# Ignore externals
ccpp_framework
ccs_config
chem_proc
cime
share
libraries
components
manage_externals.log
src/physics/carma/base
src/physics/clubb
src/physics/cosp2/src
src/physics/ncar_ccpp
src/physics/silhs
src/utils/history_output


# Ignore compiled python
buildnmlc
*.pyc

# Ignore test output
test/unit/tmp
test/include/*.mod
test/include/*.o

# Ignore editor temporaries and backups
*~
.#*
\#*#
*.swp
