# Ignore externals
chem_proc
cime
components
manage_externals.log
src/physics/carma/base
src/physics/clubb
src/physics/cosp2/src
src/physics/silhs


# Ignore compiled python
buildnmlc
buildlibc
cam_config.pyc
cam_config_tests.pyc

# Ignore editor temporaries and backups
*~
.#*
\#*#
*.swp
