# Ignore compiled python
*.pyc
buildnmlc

# Ignore test output
test/include/*.mod
test/include/*.o
test/unit/python/tmp
test/system/*.log
test/system/cime-tests.o*
test_driver_*.sh

# Ignore editor temporaries and backups
*.swp
*~
.#*
\#*#
**/.vscode/
